@import "fuentes";
@import "general";

.envoltura{
  margin-bottom: 0.5em;
  gap: 10px;
  display: grid;
  grid-template-areas: 
  "header"
  "mainTittle"
  "glassesMain"
  "storeInfo"
  "footer";
}

.storeInfoPadre{
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.logo{
  max-width: 0%;
  max-height: 0%;
}

.storeInfoItem{
  width: 90%;
  height: 180px;
  border: 5px solid #00BFFF;
}

.glassesMain{
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.glassesMainImage{
  width: 90%;
  height: 25vh;
}

footer{
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.paymentMethods{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.socialLinks{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.paymentMethodsIcon{
  width: 2em;
  height: 2em;
}

.socialLinksIcon{
  width: 2em;
  height: 2em;
}

@media (min-width:600px){
  .envoltura{
    margin-bottom: 1.5em;
    gap: 10px;
    display: grid;
    grid-template-areas: 
    "header"
    "mainTittle"
    "glassesMain"
    "storeInfo"
    "footer";
  }

  nav ul{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0% 19% 19% 19% 19% 19%;
    gap: 1%;
    align-content: center;
  }

  .storeInfoPadre{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .paymentMethodsIcon{
    width: 3.5em;
    height: 3.5em;
  }
  
  .socialLinksIcon{
    width: 3.5em;
    height: 3.5em;
  }

  .glassesMainImage{
    width: 90%;
    height: 40vh;
  }

  .storeInfo{
    margin-top: 1.5em;
  }
}

@media (min-width:768px){
  .envoltura{
    margin-bottom: 1.5em;
    gap: 10px;
    display: grid;
    grid-template-areas: 
    "header"
    "mainTittle"
    "glassesMain"
    "storeInfo"
    "footer";
  }

  .glassesMain{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .glassesMainImage{
    margin-top: 1em;
    width: 95%;
    height: 30vh;
  }

  nav ul{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 10% 16% 16% 16% 16% 16%;
    gap: 1%;
    align-content: center;
  }

  .logo{
    max-width: 100%;
    max-height: 100%;
  }

  .storeInfoItem{
    height: 140px;
  }
}

@media (min-width:1024px){
  nav ul{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 12% 16% 16% 16% 16% 16%;
    gap: 1%;
    align-content: center;
  }
  
  .storeInfoPadre{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  li{
    display: inline-block;
    padding: 0px;
    border-style: dotted;
    border-color: #a98467;
    text-align: center;
  }
  
  .glassesMainContent{
    display: grid;
    width: 100%;
    justify-items: center;
  }

  .glassesMain{
    align-items: center;
  }

  .glassesMainInfo{
    width: 90%;
  }
}